@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h2>Add Patient Medical Record</h2>

    <form method="post">
        <label>Patient Name:</label>
        <input name="PatientName" required />

        <label>Medical Status:</label>
        <input name="MedicalStatus" />

        <label>Medical Report:</label>
        <textarea name="MedicalReport"></textarea>

        <button type="submit">Save</button>
    </form>

}
